@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.imageGalleryHeight .image-gallery-slide .image-gallery-image {
  max-height: 500px !important;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}
.image-gallery-thumbnail {
  width: 90px
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courier+Prime:wght@700&display=swap');
.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}
#display{
  font-family: 'Courier Prime', monospace;
}
#nav{

font-weight: 800;

}
#border{
  
 
 transform: skew(20deg) translateX(-16px);
}
#links #fac p:hover,a:hover{
  transition: 400ms;
  border-left:4px solid #165FCC ;
  border-radius: 1px;
  color: #165FCC;
  padding-left: 5px;


}
.active{
  transition: 400ms;
  border-left:4px solid #165FCC ;
  border-radius: 1px;
  color: #165FCC;
  padding-left: 5px;
}
#rotate:hover{
 transform: rotateY(180deg);
 transition: 300ms;

}
#rotate:hover div{

  transform: rotateY(-180deg);
}
#tl{
  border-top-left-radius: 20%;
}
#tl:hover{
  border-radius: 0;
}
#tr{
  border-top-right-radius: 20%;
}
#tr:hover{
  border-radius: 0;
}
#bl{
  border-bottom-left-radius: 20%;
}
#bl:hover{
  border-radius: 0;
}
#br{
  border-bottom-right-radius: 20%;
}
#br:hover{
  border-radius: 0;
}

#dep:hover button{
  color: white;
}
#dep:hover .icon{
transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
transform: rotateZ(180deg);
}
#dep:hover #bg{
  transition: ease-in-out 500ms;
  height:300px;
  border-radius: 5px;
  z-index: 10;
}
#doc:hover #des{
  transition: ease-in 500ms;
  display:inline-block;
  position: absolute;
  bottom: 0;
  opacity: 1;
  
  
}

#doc:hover{
  opacity: 0.9;
  transition: 300ms all;
  cursor: pointer;
}

#des{
 display: none;
 opacity: 1;
}

